sonar.projectKey=PROJECT_NAME
sonar.projectVersion=${PROJECT_VERSION}
sonar.sources=src 
sonar.sourceEncoding=UTF-8
sonar.exclusions=**/*.spec.js,**/*.spec.jsx,**/*.spec.ts,**/*.spec.tsx,**/*.story.js,**/*.story.jsx,**/*.story.ts,**/*.story.tsx
sonar.javascript.lcov.reportPaths=coverage/lcov.info